*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
    gap: 40px;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: white;
    
}
.header-left{
    display: flex;
    align-items: center;
    
}
.logo{
    padding: 27px 30px;
    border-right: 1px solid #CCCC;
}
.address{
    padding: 22px 30px;
}
.address h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.address p{
    font-size: 12px;
}
.address i{
    font-size: 17px;
    
}
.searchbox{
    flex-grow: 1;
    border: 1px solid #f4f4f4;
    display: flex;
    background-color: #f8f8f8;
    border-radius: 15px;
}
.searchbox input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
}
.searchbox button{
    padding: 15px;
    background-color: transparent;
    border: none;
}
.searchbox input:focus{
    outline: none;
}
.header-btn{
    display: flex;
    margin-right: 40px;
    gap: 40px;
}
.header-btn button{
    padding: 15px;
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.header-btn button:last-child{
    background-color: #3c7f17;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.banner-section{
    max-width: 1280px;
    margin: auto;
    padding-top:  90px;
}
.banner-section img{
    width: 100%;
}
.order-banner{
    display: flex;
    max-width: 1280px;
    margin: auto;
    
   
}
.order-banner-items{
    flex-basis: 26%;
    margin: 1%;
}
.order-banner-items img{
    width: 100%;
}
.cart-items-part1{
    display: flex;
    justify-content: space-evenly;
    max-width:1280px;
    margin: auto;
}
.item img{
    width: 100%;
}

.cart-items-part2{
    display: flex;
    justify-content: space-evenly;
    max-width:1280px;
    margin: auto;
}
.item img{
    width: 100%;
}
h2{
    visibility: hidden;
}
.headingh2{
    visibility: visible;
    font-size: 22px;
}
.headingrow a{
    color: #3c7f17;
    font-size: 18px;
}

.productsection{
    max-width: 1280px;
    margin: auto
}
.productrow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    gap: 2%;
}
.productitems{
    flex-basis: 15%;
    border: 1px solid #ccc;
    border-radius: 15px;
    /* box-shadow: 0px 0px 10px 2px #b9b8b8; */
}
.productimage{
    text-align: center;
    padding: 15px;
}
.productimage p{
    background-color: #e5e5e5;
    text-align: left;
    font-size: 12px;
    display: table;
    align-items: center;
    padding: 5px;
    justify-content: center;
    gap: 5px;
}
.productcontent{
    padding: 15px;
    padding-top: 0px;
    
}
.productcontent h3{
    font-size: 14px;
    margin-bottom: 15px;
}
.productcontent p{
    color: #8d8b8b;
    font-size: 14px;
   
}
.btn-price-outer{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin-top: 15%;
}

footer{
    padding: 60px 0px 0px 0px;
}
.footer-mid{
    max-width: 1280px;
    margin: auto;
}
.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 1%;
}
.footer-mid-row1 h3{
    margin-bottom: 20px;
}
.footer-mid-row1-left{
    flex-basis: 30%;
}
.footer-mid-row1-right{
    flex-basis: 70%;
}

/* Useful links editting */

.useful-links{
    display: flex;
}
.useful-links ul{
    flex-basis: 33%;
    list-style: none;
    
}
.useful-links ul li{
    padding: 5px;
}
.useful-links ul li a{
    color: #8d8b8b;
    font-size: 15px;
}

/* categories links editing */

.footer-mid-row1-right h3{
    margin-bottom: 4%;
}
.categories-links{
    display: flex;
}
.categories-links ul{
    flex-basis: 33%;
    list-style: none;
}
.categories-links ul li{
    padding: 5px;
}
.categories-links ul li a{
    color: #8d8b8b;
    font-size: 15px;
}

.footer-mid-row3 p{
    color: #8d8b8b;
    font-size: 15px;
    padding: 20px 0px;
    line-height: 20px;
}

.footer-mid-row2{
    background-color: #fafafa;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
}
.footer-mid-row2 p{
    flex-basis: 40%;
    text-align: center;
    font-size: 13px;
    color: #8d8b8b;
}
.app-img{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8d8b8b;
}

.app-icons{
    display: flex;
    gap: 15px;
}
.app-icons i{
    width: 40px;
    height: 40px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}






@media only screen and (min-width:200px) and (max-width:575px){
    header{
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
        padding: 10px;
        position:static
    }
    .header-left{
        justify-content: center;
    }
    .logo{
        padding:10px;
    }
    .address{
        padding:10px;
    }
    .address h3{
        margin-bottom: 3px;
        margin-top: 3px;
    }
    .searchbox{
        margin-top: 15px;
    }
    .searchbox button{
        padding: 10px;
    }
    .header-btn{
        position: fixed;
        justify-content: center;
        width: 100%;
        bottom: 0px;
        margin-right: 0px;
        background-color: WHITE;
    }
    .banner-section{
        visibility:hidden;
        padding-top: 0;
    }
    .order-banner{
        flex-direction: column;
        padding: 10px;
    }
    .order-banner-items:last-child{
        margin-bottom: 3%;
    }
    .cart-items-part1{
        flex-wrap: wrap;
    }
    .item{
        flex-basis: 20%;
    }
    .item img{
        width: 100%;
    }
    .cart-items-part2{
        flex-wrap: wrap;
        margin-bottom: 10%;
    }
    .item{
        flex-basis: 20%;
    }  
    .item img{
        width: 100%;
    }
    h2{
        visibility: visible;
        margin: auto;
        font-size: 20px;
        padding: 10px;
        color: rgba(0, 0, 0, 0.853);
    }
    .productitems{
       flex-basis: 49%;
    }
    .productrow{
        padding: 10px;
    }
    .footer-mid-row1{
        flex-direction: column;
    }
    footer{
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer-mid-row3{
        padding: 0px 10px;
        margin-bottom: 35px;
    }
    .useful-links{
        margin-bottom: 20px;
    }
    .footer-mid-row2{
        flex-direction: column;
        margin-top: 15px;
        gap: 20px;
    }
  
    

}
